.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
    /* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

    /* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

    /* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}